body{
    background-color: rgb(125, 168, 235);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 30px;
}
h1{
    text-align: center;
    color: purple;
}
#form button{
    background-color: rgb(87, 5, 87);
    color: white;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}
.input-group{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;

}
.input-group input:focus{
    outline: 0;
}
.error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}
.input-group.success input{
    border-color: greenyellow;
    border: 2px solid greenyellow;
}
.input-group.error input{
    border-color: red;
    border: 2px solid red;
}